<!DOCTYPE html>
<html>
<head>
  <title>Forsberg app</title>
  <%= stylesheet_link_tag    "forsberg_app/application", media: "all" %>
  <%= javascript_include_tag "forsberg_app/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
