<nav id="unsaved_changes" class="navbar navbar-default navbar-fixed-top">
    <div class="row">
      <div class="col-xs-6">
        <p>Unsaved changes</p>
      </div>
      <div class="col-xs-6 text-right">
        <a href="#" id="discard_changes" class="btn btn-default">
          Discard
        </a>
        <a href="#" id="save_changes" class="btn btn-primary">
          Save
        </a>
      </div>
    </div>
</nav>

<script type="text/javascript">

</script>
